@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Press Start 2P', cursive;
    text-transform: uppercase;
    color: black;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.container {
    border: 1px solid black;
}

.modal {
    width: 1024px;
    height: 576px;
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
    font-size: 20px;
    background-color: #ce410c;

}

.name-block {
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
}

.modal h1 {
    font-size: 50px;
    color: white;
    text-shadow: 4px 3px black;
}

.button-block {
    width: 100%;
}

.button-block button {
    font-size: 30px;
    padding: 20px;
    width: 100%;
    background-color: #8f74ff;
    box-shadow: 3px 3px rgb(0, 0, 0);
    border: 3px solid transparent;

}

.rules {
    margin-top: 10px;
}

.top-scores {
    margin-top: 10px;
}

.rules a,
.top-scores a {
    background-color: #77e900;
    padding: 20px;
    box-shadow: 3px 3px rgb(0, 0, 0);
}

.rules a:hover,
.top-scores a:hover {
    border: 2px solid black;
    box-shadow: 6px 6px rgb(0, 0, 0);
}

.rules a:active,
.top-scores a:active {
    color: #77e900;
    background-color: black;
}

.button-block button:hover {
    border: 3px solid black;
    box-shadow: 6px 6px rgb(0, 0, 0);
}

.button-block button:active {
    color: #8f74ff;
    background-color: black;
}

.name-block {
    position: relative;
}

@keyframes pulsate {
    50% {
        color: #fff;
        text-shadow: 0 -1px rgba(0, 0, 0, .3), 0 0 5px #f03000, 0 0 8px #f80000;
    }
}

.name-block input {
    padding: 10px;
    display: block;
    border: none;
    margin-bottom: 10px;
    border-bottom: 2px solid black;
    background-color: #ce410c;
    color: white;
    text-align: center;
}

.name-block input:focus {
    outline: none;
}

.name-block label {
    font-size: 15px;
    margin: 0 auto;
    -webkit-animation: pulsate 1.2s linear infinite;
    animation: pulsate 1.2s linear infinite;
}


.rules-rules {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.keys span {
    border: 2px solid white;
    padding: 5px;
    color: white;
}

.keys {
    display: flex;
    width: 70%;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}

.keys:first-child {
    margin: 20px 0;
}


.keys p {
    color: white;
    font-size: 16px;
}

.rules-text p {
    margin-top: 20px;
    text-align: center;
    line-height: 25px;
}

.score-rules {
    margin-top: 20px;
    text-align: center;
    list-style: none;
}

.score-rules li {
    margin-top: 10px;
    font-size: 16px;
    color: rgb(63, 43, 43);
}

.score-rules span {
    color: #43d625;
}


.scores-list {
    list-style: none;
    padding: 0;
}

.scores-list li {
    margin-bottom: 20px;
}